.home-section {
  position: relative;
  background:url("./images//slider.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-size: cover;
  padding:200px 10px;
  color:#FFF
}

.titan-title-size-1 {
  letter-spacing: 4px;
  font-size: 15px;
}
.titan-title-size-4 {
  letter-spacing: 24px;
  font-weight: 400;
  font-size: 48px;
}
.titan-caption {
  position: absolute;
  top:0;
  left:0;
  display: block;
  display: table;
  height: 100%;
  width: 100%;
  background: rgba(150,150,150,.6)
}

.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.page-loader {
  position: fixed;
  background: #000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9998;
}

.loader {
  position: absolute;
  border-left: 2px solid #ffffff;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 46px;
  width: 46px;
  left: 50%;
  top: 50%;
  margin: -23px 0 0 -23px;
  text-indent: -9999em;
  font-size: 10px;
  z-index: 9999;
  -webkit-animation: load 0.8s infinite linear;
  -moz-animation: load 0.8s infinite linear;
  animation: load 0.8s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.shop-item {
  text-align: center;
  margin: 0 0 40px;
}

.shop-item-image {
  position: relative;
  overflow: hidden;
}

.shop-item-image img {
  width: 100%;
}

.shop-item-detail,
.shop-item-image:after {
  transition: all 0.4s ease-in-out 0s;
}

.shop-item-image:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.shop-item-detail {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100%;
  padding: 20px;
  opacity: 0;
  z-index: 2;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.shop-item-title {
  font-weight: 400;
  font-size: 14px;
  color: #111;
  margin: 15px 0 5px;
}

/* Shop item hover */
.shop-item:hover .shop-item-image:after {
  background: rgba(255, 255, 255, 0.7);
}

.shop-item:hover .shop-item-detail {
  opacity: 1;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.module-small {
  padding: 70px 0;
}

.module-extra-small {
  padding: 25px 0px;
}

.module-medium {
  padding: 75px 0px;
}
.module-title {
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #111;
  margin: 0 0 70px;
}
.subtitle{
  width: 50%;
  margin:20px auto ;
  font-size:18px
}
@media(max-width:786px){
  .subtitle{
    display: none;
  }
}
.btn {
  transition: all 0.125s ease-in-out 0s;
  border-radius: 2px;
  background: #111111;
  color: #fff;
}
  .shop-item-title .link{
    padding:5px 10px;
    background:#111
  }
  .shop-item-title .link:hover{
    background:rgba(17, 17, 17, 0.5);
  }
.btn.btn-b:hover{
  background: rgba(17, 17, 17, 0.5);
  color:#FFF
}
.product-gallery {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 10px 0 0;
}

.product-gallery li {
  display: inline-block;
  width: 15%;
  margin: 0 5px;
}

.product-gallery li:first-child {
  margin-left: 0;
}

.product-title {
  margin: 0 0 20px;
  color: #111;
}
.product-title {
  margin: 0 0 20px;
  color: #111;
}
.amount {
  font-size: 32px;
  color: #111;
}
.module{
  padding-top:80px;
  padding-bottom:80px
}
.module img{
  width:100%
}
.description{
  margin-top:30px;
  margin-bottom:30px;
  color:#555
}
.price{
  color:#444
}
.module .btn{
  margin-bottom:30px
}

/* Cart */

.divider-w {
  border-top: 1px solid #eaeaea;
  margin: 0;
}

.checkout-table {
  border: 1px solid #e5e5e5;
}

.checkout-table > tbody > tr > td,
.checkout-table > tbody > tr > th,
.checkout-table > tfoot > tr > td,
.checkout-table > tfoot > tr > th,
.checkout-table > thead > tr > td,
.checkout-table > thead > tr > th {
  padding: 12px;
}

.checkout-table tr td,
.checkout-table tr th {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.checkout-table tbody tr td:first-child,
.checkout-table tbody tr th:first-child {
  max-width: 36px;
}
.shop-Cart-totalbox{
  margin-top:30px;
  color:#333
}
.shop-Cart-totalbox h4{
  margin-bottom:20px;
  color:#555
}
.shop-Cart-totalbox td{
  color:#999
}
.form-group .btn:hover{
  color:#FFF
}
.product-title {
  margin: 0 0 20px;
  color: #111;
}
.product_meta{
  color:#555;
  margin-bottom: 30px;
}
.product_meta span{
 color:#999
}
.form-control{
  margin-top:10px
}
.btn-g{
  margin-top:34px
}
button[type="submit"]:hover{
  background: rgba(17, 17, 17, 0.5);
  color: #FFF;
}
.disabled{
  cursor: not-allowed
}
.cartIcon{
  margin: auto 10px;
}
.count{
  display: inline-block;
  margin: auto 10px;
  font-size: 18px;
}